img {
	border: 0;
	display: block;
	margin: 1rem 0;
	max-width: 100%;
	
}

a {
	text-decoration: underline;
}

.multicol-helper {
	width: auto !important;
	padding: 0 0 !important;
	.pagebreak {
		display: none;
	}
}

.disclaimer {
	padding: 1rem 2rem;
	background-color: #eee;
	border: 1px #ddd solid;
	border-radius: 0.5rem;
}

.theme-headline {
	font-family: helsinki !important;
	text-transform: none !important;
	font-size: 6rem !important;
	letter-spacing: -12px;
	-webkit-transform: rotate(-3deg);
	line-height: 0.8 !important;
	text-indent: -6rem;
	span {
		font-size: 7rem !important;
		letter-spacing: -14px;
		span {
			font-size: 8rem !important;
			letter-spacing: -16px;
		}
	}
	b {
		color: #b38f00 !important;
	}
}